# 不要直接修改 `.env.template`，而是重新在项目根目录下创建一个新的 `.env` 文件再做修改
# 必填字段均已标注出来，未标注的均是有默认值的可选字段，若不进行改动可以删除字段
# 模板文件中已填写字段的值均为默认值
# 值有空格时需用引号 " 或 ' 包裹

### PROJECT ###
# name, version, username 和 email 为构建 `User-Agent` 时用
# 格式: `User-Agent: <PROJECT_USERNAME>/<PROJECT_NAME>/<PROJECT_VERSION> (<PROJECT_EMAIL>)`
PROJECT_NAME=DLoMC-Localization
PROJECT_VERSION=0.0.1
PROJECT_USERNAME=Anonymous
PROJECT_EMAIL=anonymous@email.com
# 可改为 `DEBUG`, `WARN` 等
PROJECT_LOG_LEVEL=INFO
# "extra[project_name]" 与 `PROJECT_NAME` 的值一致
PROJECT_LOG_FORMAT="<g>{time:HH:mm:ss}</g> | [<lvl>{level:^7}</lvl>] | {extra[project_name]}{message:<35}{extra[filepath]}"

### FILEPATH ###
# 所有路径均相对于本项目的根目录
PATH_DATA=data
# tmp 会在每次运行脚本时自动清理/重建
PATH_TMP=data/tmp
PATH_LOG=data/log
PATH_RESOURCE=resource
PATH_CONVERT=resource/paratranz/convert
PATH_DOWNLOAD=resource/paratranz/download
PATH_RESULT=resource/result

### GAME ###
# 游戏名称，不带版本号
GAME_NAME="Daily Lives of My Countryside"
# !!!必填字段!!!
# 游戏版本号，游戏文件夹默认名称末尾，如 0.3.2.1
GAME_VERSION=

### GITHUB ###
# !!!必填字段!!!
GITHUB_ACCESS_TOKEN=